@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    height: 100vh;
    background: linear-gradient(120deg, #96bff7, #040830);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .relogio {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align-last: center;
    background: transparent;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
  }
  
  .relogio span {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font-size: 25px;
  }
  
  .horas, .minutos, .segundos {
    position: absolute;
    background:  rgba(5, 5, 5, .9);;
    bottom: 50%;
    border-radius: 10px;
    transform-origin: bottom;
    
  }
  
  .horas {
    width: 10px;
    height: 35%;
    z-index: 1;
    border: 1px ;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  }
  
  .minutos {
    width: 8px;
    height: 40%;
    z-index: 2;
    border: 1px ;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  }
  
  .segundos {
    width: 4px;
    height: 45%;
    z-index: 3;
    background-color: red;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  }
  
  .relogio::after {
    content: '';
    width: 10px;
    height: 10px;
    z-index: 4;
    background-color: black;
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .10);
  }